# Redirects for Netlify are generated pre-publish in generate-redirects.mjs from Git history
_redirects

# Logs
.pnpm-debug.log*

# Dependency directories
node_modules/

# Next.js build output
.next
out

# macOS
.DS_Store

# Generated at build time
public/
