# Employment verification

If you need someone at Sourcegraph to verify your employment for any reason (for example, while applying for a mortgage or another type of loan), please direct those communications to people-ops@sourcegraph.com and send an email to people-ops@sourcegraph confirming that you and/or your lender will be following up with a verification request. Please include the following information in your notification to people-ops@sourcegraph.com

- Consent for sharing sensitive information with the third party
- Form in which verification will be requested (via email, phone, etc.)
- Information about the third party (name and contact information of the company or representative that will be requesting the verification)
- Deadline for the employment verification request 

If a phone call is required, please share our company phone number,(650) 273-5591, and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.  
