# Employment verification

If you need your employment at Sourcegraph verified for any reason (for example, while applying for a mortgage or another type of loan), you can generate a letter yourself or, in cases where verification needs to come directly from Sourcegraph, can direct the requestor to our [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/). To generate a letter, please follow the steps below:

- **Self-serve:**

  - Go to https://app.truework.com/letter
  - Enter “Sourcegraph” for Employer Name
  - Enter your Sourcegraph email address for Work Email
  - Enter 8 letter verification code that was sent to your Sourcegraph email address
  - Click "Download" under Employment Verification Letter
  - Your letter is ready!

- **Third party requests:**
  - Direct the requestor to truework.com (or to Sourgraph's landing page)
  - Click “Start a Verification” (or "Verify a Sourcegraph employee")
  - The requestor will create a Truework account
  - The requestor will enter your information and upload relevant documentation to request a report
  - One the request is complete,
    - the requestor will receive a notification that the letter is ready
    - you will receive an email from Truework at your Sourcegraph email address to review the report and comment

If a phone call is required, please share our company phone number, (650) 273-5591, and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.
