# Employment verification

If you need your employment at Sourcegraph verified for any reason (for example, while applying for a mortgage or another type of loan), you can generate a letter by either self-serving or directing third party requests to our [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/). To generate a letter in one of these two ways, please follow the steps below:

**Self-serve**
  - Go to https://app.truework.com/letter
  - Enter “Sourcegraph” for Employer Name
  - Enter your Sourcegraph email address for Work Email
  - You will receive an 8 letter verification code via email
  - Enter 8 letter code that was sent to your Sourcegraph email address
  - Click "Download" under Employment Verification Letter
  - Your letter is ready!
 
**Third party requests** (for cases when verification needs to come directly from Sourcegraph)
- Direct the requestor to our [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/)
- Click “Start a Verification”
- The requestor will create a Truework account
- The requestor will enter your information and upload relevant documentation to request a letter
- You will receive an email from Truework to review the request and consent
- After you consent the requestor will receive a letter verifying your employment

If a phone call is required, please share our company phone number, (650) 273-5591, and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.
