# Employment verification

If you need someone at Sourcegraph to verify your employment for any reason (for example, while applying for a mortgage or another type of loan), please direct those communications to people-ops@sourcegraph.com.

If a phone call is required, please notify the @people-ops-team via an email to people-ops@sourcegraph.com, and someone will respond with their number.
