/* PAGE */
@media (min-width: 900px) {
    #page .container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
    }
    #index {
        flex: 1 1 calc(var(--width) * 0.15);
        position: sticky;
        top: var(--header-height);
        max-height: calc(100vh - var(--header-height) - 2 * var(--index-spacing));
    }
}

/* INDEX */
:root {
    --index-border-color: #dadcdf;
    --index-spacing: var(--spacing);
    --index-margin-top: 2rem;
}
#index {
    padding: var(--index-spacing);
    margin-top: var(--index-margin-top);
    overflow-y: auto;
}

.sidebar-heading {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}

@media (min-width: 900px) {
    #index {
        max-width: 17rem;
    }
}

#index {
    margin-left: 3.75rem;

    ul {
        list-style: none;
        padding-left: 0;
    }

    a {
        color: var(--gray-07);
        display: block;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        &:hover {
            text-decoration: none;
            background: var(--gray-02);
        }
    }

    > ul {
        margin-left: -0.5rem;
        ul {
            padding-left: 1.5rem;
        }
        li {
        }
        > ul {
            padding-left: 0;
        }
    }

    > ul > li:first-child {
        font-weight: 600;
    }
}

/* CONTENT */
#content {
    flex: 8 4;
    min-width: 0;
    margin-bottom: 1rem;
}

#content > .breadcrumbs:empty {
    display: none;
}

#content > .breadcrumbs {
    font-size: 0.875rem;
}
#content > .breadcrumbs > .active {
    color: inherit;
    opacity: 0.8;
}

/* PAGE BUTTON */
.page-btn {
    display: inline-block;
    font-size: 90%;
    color: inherit;
    border: solid 1px var(--index-border-color);
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
}
