/* PAGE */
@media (min-width: 900px) {
    #page .container {
        display: flex;
        flex-direction: row-reverse;
    }
    #right-sidebar {
        flex: 1 1 calc(var(--width) * 0.15);
        position: sticky;
        top: calc(var(--header-height) + var(--index-margin-top));
        max-height: calc(100vh - var(--header-height) - var(--index-margin-top));
    }
}

/* INDEX */
:root {
    --index-spacing: var(--spacing);
    --index-margin-top: 2rem;
}
#right-sidebar {
    margin-top: var(--index-margin-top);
    padding: 0.5rem 1rem;
    overflow-y: auto;
}

.sidebar-heading {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}

@media (min-width: 900px) {
    #right-sidebar {
        max-width: 17rem;
    }
}

#right-sidebar {
    margin-left: 3.75rem;
}

.table-of-contents {
    padding-left: 0;
    margin-left: -0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-04);

    &,
    & ul {
        list-style: none;
    }

    a {
        color: var(--gray-07);
        display: block;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        &:hover {
            text-decoration: none;
            background: var(--gray-02);
        }
    }

    ul {
        padding-left: 1.5rem;
    }

    > ul {
        padding-left: 0;
    }

    > li:first-child {
        font-weight: 600;
    }
}

/* CONTENT */
#content {
    flex: 8 4;
    min-width: 0;
    margin-bottom: 1rem;
}

#content > .breadcrumbs:empty {
    display: none;
}

#content > .breadcrumbs {
    margin-top: 1rem;
    font-size: 0.875rem;
}
#content > .breadcrumbs > .active {
    color: inherit;
    opacity: 0.8;
}
