$text-muted: var(--gray-05);

// Syntax highlighting is provided by highlight.js
// - https://github.com/highlightjs/highlight.js/
// List of available CSS themes:
// - https://github.com/highlightjs/highlight.js/tree/main/src/styles
@import 'highlight.js/styles/a11y-light.css';

@import 'bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/utilities';
// @import 'bootstrap/scss/reboot';

@import '../../content/departments/product/design/brand_guidelines/colors.scss';
@import './layout.scss';
@import './search.scss';
@import './page.scss';
@import './content.scss';

@import './badges.scss';
@import './cards.scss';
@import './levels-table.scss';
