/* PAGE */
@media (min-width: 900px) {
    #page .container {
        display: flex;
        flex-direction: row-reverse;
    }
    #right-sidebar {
        position: sticky;
        top: calc(var(--header-height) + var(--index-margin-top));
        flex: 1 1 calc(var(--width) * 0.15);
        max-width: 17rem;
        max-height: calc(100vh - var(--header-height) - var(--index-margin-top));
    }
}

/* INDEX */
:root {
    --index-spacing: var(--spacing);
    --index-margin-top: 2rem;
}
#right-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: var(--index-margin-top);
    margin-left: 3.75rem;
    padding: 0.5rem 1rem;
    overflow-y: auto;
    gap: 2rem;
}

.sidebar-heading {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
}

.table-of-contents {
    padding-left: 0;
    margin-left: -0.5rem;
    margin-bottom: 0;

    &,
    & ul {
        list-style: none;
    }

    a {
        color: var(--gray-07);
        display: block;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        &:hover {
            text-decoration: none;
            background: var(--gray-02);
        }
    }

    ul {
        padding-left: 1.5rem;
    }

    > li > ul {
        padding-left: 0;

        ul {
            display: none;
            @media (min-width: 900px) {
                &.active {
                    display: block;
                }
            }
        }
    }

    li.active > a {
        font-weight: 600;
        color: var(--gray-08);
    }
}

.edit-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray-07);
    font-size: 0.875rem;
}

.sidebar-bottom-links {
    padding-top: 0.5rem;
    border-top: 1px solid var(--gray-04);
}

.avatar-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.avatar {
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.12);
    display: inline-block;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    overflow: hidden;
    isolation: isolate;
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
    background: white;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    }
}

/* CONTENT */
#content {
    flex: 8 4;
    min-width: 0;
    margin-bottom: 1rem;
}

#content > .breadcrumbs:empty {
    display: none;
}

#content > .breadcrumbs {
    margin-top: 1rem;
    font-size: 0.875rem;
}
#content > .breadcrumbs > .active {
    color: inherit;
    opacity: 0.8;
}
