.search-field {
    flex: 0 1 24rem;
    height: 2.25rem;
    margin-bottom: 0;
    margin-right: auto;

    display: flex;
    position: relative;
    padding: 0.25rem 0;
    gap: 0.75rem;
    align-items: center;

    border-radius: 6px;
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--gray-07);
    font-size: 1rem;

    &:hover {
        background: var(--gray-01);
    }

    &:focus-within {
        border-color: #0b70db;
        box-shadow: 0 0 0 2px rgba(#0b70db, 0.5);
    }

    @include media-breakpoint-down(sm) {
        flex: 1 1 100%;
        margin-right: 0.5rem;
    }
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 0.5rem;
}

.search-shortcut {
    position: absolute;
    right: 0.75rem;
    top: 0.25rem;
}

.search-input {
    display: block !important;
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    padding-left: 2.5rem !important;
    padding-right: 3.5rem !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    height: auto !important;
    width: 100% !important;

    &:focus {
        outline: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.st-keyboard-active-item {
    background: var(--gray-02) !important;
}

.st-ui-autocomplete .st-query-present {
    border-radius: 6px !important;
    border: 1px solid var(--border-color) !important;
    box-shadow: 0px 4px 24px -6px rgba(36, 41, 54, 0.12) !important;

    .st-ui-type-heading {
        font-size: 0.875rem !important;
        font-weight: bold !important;
    }

    .st-ui-type-detail {
        color: var(--gray-07) !important;
        font-size: 0.875rem !important;
    }
}

a.st-ui-result {
    .st-ui-type-heading,
    .st-ui-type-detail {
        em {
            box-shadow: none !important;
            background-color: var(--sg-yellow-1) !important;
        }
    }
}

.st-ui-injected-overlay-container {
    animation: none !important; // For a faster UI
}
