# Employment Verification - Internal

Teammates can read about how to request an employment verification process [here](../process/employment_verification.md).

People Ops Process:

1. Teammates will send employment verification requests to people-ops@sourcegraph.com.
2. Once received, a People Ops team member will draft the letter using [this template](https://docs.google.com/document/d/1JOZSDo_1GtsqtwliPcZyAtcNa13KmAbLFG99LFjq-4Y/edit).
3. Make a copy of the template, fill in the teammate's information using the data in BambooHR
4. Save the template as a PDF and add your signature (must be a People Team member)
5. Reply to the teammate's email request and attach the veritifcation letter PDF

For more information on this, People Partners and People Ops teammates, please refer to [this doc](https://docs.google.com/document/d/1129c1iENV1VEfwFlMuHQRre3G0VPXASzdpelQc_-I_0/edit).
