# Employment Verification - Internal

For Employment Verification requests we use TrueWork:

We direct people to our [handbook page](../process/employment_verification.md).

- Email template:

  Hello,

  Here are instructions for completing a third-party verification request:

  **Third-party requests**

  - Go to [Truework.com](https://www.truework.com/verifications/sourcegraph-employment-verification/) (or to Sourcegraph’s Truework landing page)
  - Click “Start a Verification” (or “Verify a Sourcegraph employee”)
  - The requester will create a Truework account
  - Enter the employee's information and upload relevant documentation to request a report
  - Once the request is complete,
  - you will receive a notification that the letter is ready
  - the employee will receive an email from Truework at your Sourcegraph email address to review the report and comment

  You can read more about TrueWork [here](../process/employment_verification.md). Please contact me if you have any questions.

  You can read more about TrueWork [here](../process/employment_verification.md). Please contact me if you have any questions.

  Thank you,

For more information on this, People Partners and People Ops teammates, please refer to [this doc](https://docs.google.com/document/d/1129c1iENV1VEfwFlMuHQRre3G0VPXASzdpelQc_-I_0/edit).
