# Employment verification

### When should you request an Employment Verification letter from People Ops?

Anytime you need any sort of employment verification, such as:

- Home loans
- Mortgages
- Visa sponsorship
- Travel sponsorship (like ESTA applications)
- Verification of employment and income

### How do I request a letter?

- **Step 1: Email People Ops to request the employment verification letter**

  - people-ops@sourcegraph.com
  - If there are any specific requirements for the letter, please include the details in your email request

- **Step 2: The People Ops Team will draft an employment verification letter and share with you via email as soon as possible.**
- If a third party requester needs to collect the verification directly, please ask them to contact people-ops@sourcegraph.com and we will assist.

If a phone call is required, please share our company phone number, [+1 (650) 273-5591](tel:+1-650-273-5591), and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.

If you have any questions, you can reach out to the People Team in #ask-people-team in Slack or people-ops@sourcegraph.com.
