# Employment verification

You can use [Truework](https://www.truework.com/) if you need your employment at Sourcegraph verified for any reason. Truework is a platform that we've integrated with our HRIS system, [BambooHR](https://sourcegraph.bamboohr.com/login.php?r=%2Fhome%2F), to allow you to quickly and easily generate employment verification letters.

## When should you use Truework?

Anytime you need any sort of employment verification, such as:

- Home loans
- Mortgages
- Visa sponsorship
- Travel sponsorship (like ESTA applications)
- Verification of employment and income

## How do I generate a letter?

To generate a letter, please follow the steps below:

- **Self-serve:**

  - Go to https://app.truework.com/letter
  - Enter “Sourcegraph” for Employer Name
  - Enter your Sourcegraph email address for Work Email
  - Enter 8 letter verification code that was sent to your Sourcegraph email address
  - Click "Download" under the type of letter that you need
  - Your letter is ready!

- **Third party requests:**
  - Direct the requester to [Truework.com](https://www.truework.com/) (or to Sourcegraph's [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/))
  - Click “Start a Verification” (or "Verify a Sourcegraph employee")
  - The requester will create a Truework account
  - The requester will enter your information and upload relevant documentation to request a report
  - One the request is complete,
    - the requester will receive a notification that the letter is ready
    - you will receive an email from Truework at your Sourcegraph email address to review the report and comment

If a phone call is required, please share our company phone number, [+1 (650) 273-5591](tel:+1-650-273-5591), and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.

If you have any questions about Truework, you can reach out to the People Team in #ask-people-team in Slack or people-ops@sourcegraph.com.

For Sourcegraph teammates, if the letter provided is not what you need, and you are looking for a special type of verification letter, please reach out to people-ops@sourcegraph.com explaining what you need and the information required in it.
