# Employment verification

If you need your employment at Sourcegraph verified for any reason (such as for home loans, mortgages, visa sponsorship, or travel sponsorship), you can use [Truework](https://www.truework.com/). Truework is a platform that we’ve integrated with our HRIS system, [BambooHR](https://sourcegraph.bamboohr.com/login.php?r=%2Fhome%2F), to provide quick and easy employment verification.

Truework allows you to [generate a letter yourself](https://app.truework.com/letter) or, in cases where verification needs to come directly from Sourcegraph, allows requesters to do so via our [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/).

## When should you use Truework?

Anytime you need any sort of employment verification! If you require employment verification for any of the following:

- Home loans
- Mortgages
- Visa sponsorship
- Verification of employment and income
- Travel sponsorship (like ESTA applications)

## Generating a letter
To generate a letter, please follow the steps below:

- **Self-serve:**

  - Go to https://app.truework.com/letter
  - Enter “Sourcegraph” for Employer Name
  - Enter your Sourcegraph email address for Work Email
  - Enter 8 letter verification code that was sent to your Sourcegraph email address
  - Click "Download" under the type of letter that you need
  - Your letter is ready!

- **Third party requests:**
  - Direct the requester to [Truework.com](https://www.truework.com/) (or to Sourcegraph's [Truework landing page](https://www.truework.com/verifications/sourcegraph-employment-verification/))
  - Click “Start a Verification” (or "Verify a Sourcegraph employee")
  - The requester will create a Truework account
  - The requester will enter your information and upload relevant documentation to request a report
  - One the request is complete,
    - the requester will receive a notification that the letter is ready
    - you will receive an email from Truework at your Sourcegraph email address to review the report and comment

If a phone call is required, please share our company phone number, (650) 273-5591, and notify people-ops@sourcegraph.com that you will need a verbal verification of employment.

If you have any questions about Truework, you can reach out to the People Ops team at the [#people-ops](https://sourcegraph.slack.com/archives/CQAGQKC4A) Slack channel or people-ops@sourcegraph.com.
