.typ {
    font-family: 'PT Sans';
}
.typ h1 {
    font-size: 64px;
    font-weight: 600;
    border: none;
}
.h1_content {
    font-size: 52px;
}
.typ h2 {
    font-size: 40px;
    border: none;
}
.typ h3 {
    font-size: 20px;
}
p {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
}
.mark,
.mark-rev {
    width: 300px;
}
.logomark {
    width: 200px;
}
.mark-rev {
    background-color: #000 !important;
    padding: 5px 5px;
}
.square {
    width: 15%;
    padding-bottom: 5%;
    position: relative;
}
.blue {
    background-color: #0fb6f2;
}
.purple {
    background-color: #b114f7;
}
.orange {
    background-color: #f86012;
}
button {
    color: #fff;
    font-family: Open Sans;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #0a65ea;
    border-color: #0a65ea;
    padding: 0.55rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 0.125rem;
}
