name: Check handbook builds correctly

on:
  - push

jobs:
  # geojson:
  #   name: Teammate locations file is valid
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v2
  #     - name: install geojsonhint
  #       run: yarn add @mapbox/geojsonhint@3.0.0
  #     - name: geojsonhint
  #       run: node_modules/.bin/geojsonhint < ./handbook/company/team/locations.geojson

  # Put everything under one job to not clutter the GitHub status checks list.
  build:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 3
    steps:
      - uses: actions/checkout@v3
        name: Checkout repository
        with:
          fetch-depth: 0 # We analyze Git history for generating redirects

      # set up correct version of node
      - id: nvmrc
        name: Read .nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)
      - uses: actions/setup-node@v2
        name: Set up NodeJS
        with:
          node-version: '${{ steps.nvmrc.outputs.NODE_VERSION }}'

      - run: yarn
        name: Install dependencies
      - run: yarn typecheck
        name: Type-check code with TypeScript compiler
      - run: yarn eslint
        name: Lint code with ESLint
      - run: yarn build
        name: Build handbook with NextJS
