name: Format all files nicely

# This action works with pull requests and pushes
on:
  push:
    branches-ignore:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 3
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
          persist-credentials: false

      # Set up correct version of node from .nvmrc (upgraded by Renovate)
      - name: Read .nvmrc
        id: nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - uses: actions/setup-node@v2
        name: Set up NodeJS
        with:
          node-version: '${{ steps.nvmrc.outputs.NODE_VERSION }}'
          # Fails with error in post step: Cache folder path is retrieved for yarn but doesn't exist on disk: /home/runner/.cache/yarn/v6
          # cache: yarn

      # Make sure @sourcegraph/prettierrc is installed
      - run: yarn
        name: Install dependencies

      - name: Read prettier version
        id: prettier_version
        uses: notiz-dev/github-action-json-property@release
        with:
          path: package.json
          prop_path: devDependencies.prettier

      - name: Prettier
        uses: creyD/prettier_action@v3.3
        with:
          # Take prettier version from package.json to stay in sync and support upgrades through Renovate
          prettier_version: ${{steps.prettier_version.outputs.prop}}
          prettier_options: --write **/*.{js,mjs,css,scss,ts,tsx,md,html,yml,yaml,json}
          commit_message: squash! Prettier
        env:
          GITHUB_TOKEN: ${{ secrets.WRITE_ACCESS_GITHUB_TOKEN }}
